.Home > div.favorites {
  width: 100%;
  height: 100vh;
}

.Home > div.favorites > div.heading {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 52px;
  color: #000000;
}

.Home > div.favorites > ul.questionList {
  padding-left: 45%;
}

.Home > div.favorites > ul.questionList > li.questionItem {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
